asgiref==3.8.1
beautifulsoup4==4.12.3
bleach==6.1.0
boto3==1.34.138
botocore==1.34.138
certifi==2024.6.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
contourpy==1.2.1
coverage==7.5.4
crypto==1.4.1
cryptography==42.0.8
cycler==0.12.1
Django==4.2.12
django-appconf==1.0.6
django-clearcache==1.2.1
django-cors-headers==4.4.0
django-crontab==0.7.1
django-filter==24.2
django-htmlmin==0.11.0
django-jazzmin==3.0.0
django-storages==1.14.3
django-summernote==0.8.20.0
django_compressor==4.5
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
dnspython==2.6.1
drf-yasg==1.21.7
fonttools==4.53.1
html5lib==1.1
idna==3.7
inflection==0.5.1
jmespath==1.0.1
kiwisolver==1.4.5
matplotlib==3.9.1
mysqlclient==2.2.4
Naked==0.1.32
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pillow==10.4.0
psycopg2==2.9.9
pycparser==2.22
pycryptodome==3.20.0
PyJWT==2.8.0
pymongo==4.8.0
PyMySQL==1.1.1
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
rcssmin==1.1.2
reportlab==4.2.2
requests==2.32.3
rjsmin==1.2.2
s3transfer==0.10.2
setuptools==70.2.0
shellescape==3.8.1
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
tzdata==2024.1
unicodecsv==0.14.1
uritemplate==4.1.1
urllib3==2.2.2
webencodings==0.5.1
xlwt==1.3.0
